#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #image {
    margin-top: 60px;
    max-width: 100%;
    height: auto;
  }
  #text {
    margin-top: 20px;
    font-size: x-large;
  }
  #home-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #click-me-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #2196F3 ;
    color: white;
    border: none;
    cursor: pointer;
  }